<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let Post of posts">
    <mat-expansion-panel-header>
      {{Post.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="Post.imagePath" [alt]="Post.title">
    </div>
    <p>{{Post.content}}</p>
    <mat-action-row *ngIf="isAuthenticated">
      <a mat-button color="primary" [routerLink] = "['/edit', Post.id]">Edit</a>
      <button mat-button color="warn" (click)="OnDelete(Post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No Posts</p>

