<mat-accordion multi="true" *ngIf="posts.length > 0; else noPosts">
  <mat-expansion-panel *ngFor="let Post of posts">
    <mat-expansion-panel-header>
      {{Post.title}}
    </mat-expansion-panel-header>
    <p>{{Post.content}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink] = "['/edit', Post.id]">Edit</a>
      <button mat-button color="warn" (click)="OnDelete(Post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noPosts class="info-text mat-body-1" >No Text</ng-template>
